.dashboard-contract-faq {
   @apply w-full my-10 px-8 py-6 <sm:(px-6 py-4)
         bg-default-elevated rounded-xl shadow-md;
}

.markdown-body {
   h1,
   h2 {
      @apply mb-2 font-medium;
   }

   h1 {
      @apply text-2xl;
   }

   h2 {
      @apply text-[18px];
   }

   p {
      @apply text-default/70 leading-relaxed;

      &:not(:last-of-type) {
         @apply mb-5;
      }
   }

   a {
      @apply font-medium underline text-accent;
   }
}
