@import './wallet-section.pcss';

.wallet-modal {
   --spinner-size: 36px;
   --spinner-border-size: 3px;
   --spinner-color: #ed8936;

   &-slot {
      @apply h-full flex flex-col items-center justify-center;
   }
}
