html {
   @apply bg-default overflow-hidden overflow-y-auto;
}

body {
   @apply font-default font-normal text-base
   text-default/90;
}

html,
body,
#app {
   @apply h-full w-full;
}

* {
   @apply scrollbar scrollbar-thin;
}
