html {
   @apply overflow-hidden overflow-y-auto
   font-sans font-normal text-base
   bg-default text-default/90 antialiased;
}

html,
body,
#app {
   @apply h-full w-full;
}

* {
   @apply scrollbar scrollbar-thin;
}
